@font-face{
    font-family: OCR;
    src:local("../font/OCRAEXT.TTF"),
    local("../font/OCRAEXT.TTF"),
    url("../font/OCRAEXT.TTF");
}
p, h2, a{
    font-family: OCR; 
}

.font-ocr{
    font-family: OCR;
    cursor: pointer;
}
.font-ocr:hover{
   margin-top: 2px;
   text-shadow: 5px 8px 5px gray;
}
.float-btn{
    width: auto;
    height: auto;
    position: fixed;
    z-index: 2;
    bottom:2%;
    right:2%;
    display: none;
}
.float-btn i{
    font-size: 45px;
    cursor: pointer;
    color: #881c16b9
}
.float-btn i:hover{
    font-size:50px; 
    color:rgba(0, 102, 204, 0.568);
    
}
.text-justify {
    text-align: justify;
  }
.tableLog{
    text-align: center;
    /* margin: 10px; */
    margin: 0 auto;
    /* padding: 10px; */
}